@font-face {
  font-family: 'iconfont';  /* project id 639044 */
  src: url('//at.alicdn.com/t/font_639044_j0pr1hdqorc.eot');
  src: url('//at.alicdn.com/t/font_639044_j0pr1hdqorc.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_639044_j0pr1hdqorc.woff') format('woff'),
  url('//at.alicdn.com/t/font_639044_j0pr1hdqorc.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_639044_j0pr1hdqorc.svg#iconfont') format('svg');
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

/**/
.icon-recommend::before { content: "\e62a"; }
.icon-channel::before { content: "\e693"; }
.icon-seed::before { content: "\e89d"; }
.icon-live::before { content: "\e64f"; }
.icon-person::before { content: "\e600"; }
.icon-return-arrow::before { content: "\e602"; }
.icon-next-arrow::before { content: "\e603"; }
.icon-vip::before { content: "\e69a"; }
.icon-play-video::before { content: "\e649"; }
.icon-collection::before { content: "\e60b"; }
.icon-feedback::before { content: "\e607"; }
.icon-lock::before { content: "\e6b0"; }





/* .icon-tips-jia::before { content: "\e605"; } */
/* .icon-return-arrow::before { content: "\e60a"; }
.icon-tips-add-friend::before { content: "\e606"; }
.icon-chat-set::before { content: "\e60e"; }
.icon-mute::before { content: "\e604"; }
.icon-tips-xiaoxi::before { content: "\e607"; }
.icon-chat-person::before { content: "\e60c"; }
.icon-chat-friends::before { content: "\e60c"; }
.icon-more::before { content: "\e60b"; }
.icon-tips-saoyisao::before { content: "\e608"; }
.icon-wechat::before { content: "\e62a"; }
.icon-me::before { content: "\e601"; }
.icon-dialogue-jia::before { content: "\e615"; }
.icon-tips-fukuan::before { content: "\e609"; }
.icon-contact::before { content: "\e610"; }
.icon-find::before { content: "\e603"; }
.icon-chat-group::before { content: "\e60d"; }
.icon-chat-detail-add::before { content: "\e616"; }

.icon-dialogue-voice::before { content: "\e60f"; }
.icon-dialogue-jianpan::before { content: "\e611"; }
.icon-dialogue-smile::before { content: "\e612"; }
.icon-dialogue-bar-jianpan::before{ content: "\e602"; }
.icon-dialogue-bar-menu::before{ content: "\e613"; }
.icon-search::before{ content: "\e614"; }
.icon-iphone-address::before{ content: "\e617"; } */

